<h1>directives in angular</h1>

<div class="left">

  <h2>using structural directive *ngif</h2>

  <div class="div1" *ngIf="fortrue">
    <h2>this div for true</h2>
  </div>

  <div class="div2" *ngIf="forfalse">
    <h2>this div for false</h2>
  </div>

  <button type="button" (click)="clicked()">click me to display *ngif method</button>
</div>
<br><br>


<div class="center">

  <div class="mydiv" *ngIf="hide">

  </div>

  <div class="mydiv2" *ngIf="see">

  </div>

  <br>

  <button (click)="clickme()" type="button">click me</button>

</div>



<div class="right">

  <h2>using structural directive *ngFor</h2>

  <select>

    <option>select languages</option>
    <option *ngFor="let l of languages">{{l}}</option>

  </select>

</div>

<div class="center">

  <h2>using structural directive *ngSwitchCase</h2>

  <input [(ngModel)]="myvalue" type="text" placeholder="enter number" maxlength="1">

  <div class="maindiv" [ngSwitch]="myvalue" *ngFor="let myvalue of forvalue">

    <div *ngSwitchCase="1">value 1</div>
    <div *ngSwitchCase="2">value 2</div>
    <div *ngSwitchCase="3">value 3</div>
    <div *ngSwitchCase="4">value 4</div>
    <div *ngSwitchCase="5">value 5</div>
    <div *ngSwitchCase="6">value 6</div>
    <div *ngSwitchDefault>not availabel value</div>

  </div>
  <br>
  <br>

  <button type="button" (click)="clicking()">click me</button>
</div>
<br>

<hr>
<br>
<h1>attribute directive</h1>



<div class="left">
  <h2>using attribute directive [ngStyle]</h2>

  <h3 [ngStyle]="{'color' : 'red', 'background-color' : 'yellow'}">Lorem ipsum dolor sit amet consectetur adipisicing
    elit. A, laboriosam. Voluptate molestiae consequatur eius quos voluptatum ea provident nam ut. Exercitationem
    provident temporibus qui tempore delectus cumque aperiam autem ducimus!</h3>


</div>



<div class="center">
  <h2>using attribute directive [ngClass]</h2>

  <h2 [ngClass]="{'trueheading' : headingone}">this heading for true</h2>

  <h2 [ngClass]="{'falseheading' : headingtwo}">this heading for false</h2>

  <button (click)="changestyle()" type="button">click me to display [ngclass] directive</button>
</div>
<br>

<hr>

<br>
<h1>custom directive</h1>
<div class="right">
  <h2>using custom directive</h2>

  <p appCustomdirective>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ipsa quod, nisi libero esse odit laudantium possimus eveniet exercitationem cum mollitia nesciunt non, optio, ut sint ipsum maxime veniam sed?</p>
</div>